@import url("https://fonts.googleapis.com/css?family=Catamaran|Lato");
* {
  margin: 0;
  text-decoration: none; }

*,
*::after,
*::before {
  box-sizing: border-box; }

html,
body {
  height: 100%; }

html {
  color: #4a4a4a;
  font-size: 0.9rem;
  font-weight: bolder; }

body {
  background-color: #ffffff;
  min-height: 1vh;
  font-weight: bolder; }

h1 {
  font-size: 5em; }

h3 {
  font-size: 3em; }

h4 {
  font-size: 1.65em; }

h5 {
  font-size: 1.4em; }

.section-title, .contacts .form-cover h3 {
  margin: 2em 0;
  font-size: 2.5em;
  letter-spacing: 5px;
  font-family: "Catamaran", sans-serif;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase; }

.section {
  padding: 3em 0 8em; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%; }

.container:before,
.container:after {
  content: " ";
  display: table; }

.container:after {
  clear: both; }

@media (min-width: 768px) {
  .container {
    width: 760px;
    max-width: 100%; } }
@media (min-width: 992px) {
  .container {
    width: 980px;
    max-width: 100%; } }
@media (min-width: 1200px) {
  .container {
    width: 1180px; } }
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px; }

.container-fluid:before,
.container-fluid:after {
  content: " ";
  display: table; }

.container-fluid:after {
  clear: both; }

img {
  max-width: 100%; }

nav {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  color: #fff; }
  nav ul {
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-self: center;
    font-family: "Lato", sans-serif;
    font-weight: 300; }
    nav ul li {
      padding-left: 20px;
      font-family: "Lato", sans-serif;
      font-weight: 300;
      padding: 10px; }
      nav ul li a {
        color: #fff;
        text-decoration: none; }
        nav ul li a:hover {
          color: #85C83D; }
  nav .logo {
    display: none;
    width: 100px; }

.section-roadmap {
  background-image: url("../img/roadmap-bg.jpg");
  color: white;
  background-size: cover;
  background-attachment: fixed; }
  .section-roadmap .road-resposive {
    display: none; }

@media (max-width: 1000px) {
  .road {
    display: none; }

  .road-resposive {
    display: block !important;
    width: 100%; } }
.section-social {
  background: linear-gradient(0deg, #1B1B36, #1B1B36, #1C1C1C);
  background-size: 200% 200%;
  padding: 1em 0;
  color: white; }

.container-social {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  max-width: 600px;
  justify-content: space-around;
  align-items: center;
  padding: 2.5em 2em;
  margin: 3em auto; }

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  -webkit-transition: box-shadow 0.5s ease-out;
  -moz-transition: box-shadow 0.5s ease-out;
  -o-transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-in;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(204, 204, 204, 0.7);
  -moz-box-shadow: 0px 0px 0px 0px rgba(204, 204, 204, 0.7);
  box-shadow: 0px 0px 0px 0px rgba(204, 204, 204, 0.7);
  border-radius: 30px;
  height: 36px;
  width: 36px;
  margin: 0.5em 0.5em; }
  .social-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid #D9DADC;
    border-radius: 18px;
    height: 36px;
    width: 36px; }
    .social-item a img {
      max-width: 80%;
      max-height: 80%; }
  .social-item:hover {
    -webkit-box-shadow: 0px 0px 10px 15px rgba(155, 155, 155, 0.7);
    -moz-box-shadow: 0px 0px 10px 15px rgba(155, 155, 155, 0.7);
    box-shadow: 0px 0px 10px 15px rgba(156, 156, 156, 0.7); }

.section-team {
  background-image: url("../img/team-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white; }
  .section-team h3 {
    text-align: center; }
    .section-team h3:first-child {
      text-align: center; }
  .section-team .team-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around; }
    .section-team .team-container .team-member {
      flex: 0 0.5 47%;
      padding: 20px;
      font-weight: 500;
      background-color: rgba(157, 170, 191, 0.6);
      max-width: 500px;
      margin-bottom: 4.5em; }
      .section-team .team-container .team-member .img-element {
        display: flex;
        padding-bottom: 2em; }
        .section-team .team-container .team-member .img-element .member-name {
          padding-left: 2em; }
      .section-team .team-container .team-member h4 {
        margin: 1em 0;
        font-size: 1.2em;
        font-family: "Catamaran", sans-serif;
        font-weight: bold; }
      .section-team .team-container .team-member a {
        background-image: url("../img/icon_sprite.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        width: 35px;
        height: 35px;
        margin-top: 1em; }
      .section-team .team-container .team-member .linkedin {
        background-position: 0 0; }
        .section-team .team-container .team-member .linkedin:hover {
          background-position: -102px 0; }
      .section-team .team-container .team-member .easeboy {
        background-position: -70px 0; }
        .section-team .team-container .team-member .easeboy:hover {
          background-position: -172px 0; }
      .section-team .team-container .team-member .facebook {
        background-position: -35px 0; }
        .section-team .team-container .team-member .facebook:hover {
          background-position: -138px 0; }
      .section-team .team-container .team-member .read-more {
        font-weight: bolder;
        color: white;
        margin: 1.5em 0; }
      .section-team .team-container .team-member p {
        text-align: left;
        font-weight: normal; }
      .section-team .team-container .team-member img {
        min-width: 125px;
        width: 125px;
        height: 125px;
        max-width: 100%;
        overflow: hidden; }
  .section-team .dev-team .team-member {
    flex: 0 0.3 30%; }
  .section-team .advisors .team-member {
    flex: 0 0.3 30%; }

.faq-section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  color: white; }
  .faq-section .faq-img {
    flex: 0.5 50%;
    background-image: url("../img/faq-bg.jpg");
    background-size: cover; }
  .faq-section .faq-cover {
    flex: 0.5 50%;
    background-image: linear-gradient(to top, #90d141, #58a42a); }
    .faq-section .faq-cover .faq-container {
      padding: 2em 2em 8em 2em; }
      .faq-section .faq-cover .faq-container .faq-items {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        align-items: center;
        padding: 1em 0 1em 1em; }
        .faq-section .faq-cover .faq-container .faq-items .icon {
          flex: 0.15 15%;
          padding-right: 1em;
          text-align: center; }
        .faq-section .faq-cover .faq-container .faq-items .faq-text {
          flex: 0.7 75%; }
          .faq-section .faq-cover .faq-container .faq-items .faq-text h4 {
            margin-bottom: 0.6em; }
          .faq-section .faq-cover .faq-container .faq-items .faq-text p {
            font-family: "Lato", sans-serif;
            font-size: 1.125em;
            font-weight: 300; }

.section-media {
  background-color: #eee; }
  .section-media .media {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around; }
    .section-media .media .media-one {
      max-width: 100%;
      flex: 0 0.3 30%;
      text-align: center;
      margin: 1em 0; }
      .section-media .media .media-one hr {
        max-width: 100%;
        width: 100px;
        border: none;
        border-bottom: 2px solid #85C83D;
        margin: 1em auto; }
      .section-media .media .media-one h4 {
        font-size: 1.2em;
        font-weight: 500; }
  .section-media .media-second .media-one {
    flex: 0 0.25 25%; }

.contacts {
  background-image: url("../img/form-bg.jpg");
  background-size: cover;
  background-attachment: fixed; }

.hero {
  background-image: url("../img/hero_background.jpg"); }

.fixed-nav {
  position: fixed;
  width: 100%;
  top: 0; }

.flexed-hero {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: left; }
  .flexed-hero .green-btn-bordered {
    margin-right: 2em; }

.flexed-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0; }
  .flexed-nav ul li a {
    color: white; }
    .flexed-nav ul li a:hover {
      color: #85C83D; }

.hero-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: center;
  padding: 3em 0 4em;
  margin-top: 4em; }
  .hero-content .hero-text {
    margin: 3em 0;
    flex: 0 0.5 60%; }
    .hero-content .hero-text h2 {
      color: white;
      font-size: 3.7em;
      font-family: "Catamaran", sans-serif;
      font-weight: 800;
      letter-spacing: 0; }
    .hero-content .hero-text h4 {
      max-width: 80%;
      color: #D4D4D4;
      padding: 0.7em 0;
      font-size: 1em;
      line-height: 2em; }
  .hero-content .hero-video {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    color: #D4D4D4;
    align-items: flex-start;
    justify-content: center;
    flex: 0 0.4 40%;
    margin: 3.5em 0; }

.contacts {
  padding: 10em 0; }
  .contacts .form-cover {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    padding: 0em 1em; }
    .contacts .form-cover p {
      max-width: 100%;
      margin: 2em auto; }
    .contacts .form-cover h3 {
      margin-top: 1em;
      margin-bottom: 1em;
      text-align: center;
      display: block;
      width: 100%;
      color: white; }
    .contacts .form-cover .form-contact {
      text-align: center;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      flex: 1 100%;
      max-width: 700px;
      margin: 0 auto;
      font-family: "Catamaran", sans-serif; }
      .contacts .form-cover .form-contact .group {
        margin: 1em 10px;
        flex: 0.4 45%; }
      .contacts .form-cover .form-contact .group-textarea {
        flex: 0 auto;
        margin: 10px;
        max-width: 98%; }
      .contacts .form-cover .form-contact .group-recaptcha {
        position: relative;
        flex: 1; }
        .contacts .form-cover .form-contact .group-recaptcha .g-recaptcha, .contacts .form-cover .form-contact .group-recaptcha .error {
          width: 304px;
          margin: 0 auto;
          position: relative; }
        .contacts .form-cover .form-contact .group-recaptcha .error {
          height: 0;
          text-align: center !important;
          position: relative !important; }
      .contacts .form-cover .form-contact .group .error, .contacts .form-cover .form-contact .group-textarea .error {
        color: red;
        text-align: left;
        margin-top: 35px;
        padding-left: 6px;
        position: absolute;
        font-size: 14px;
        display: none; }
      .contacts .form-cover .form-contact .group.has-error .error, .contacts .form-cover .form-contact .group-textarea.has-error .error {
        display: block; }
      .contacts .form-cover .form-contact #form-register-group-wallet input {
        font-size: 1em; }
      .contacts .form-cover .form-contact #form-register-group-wallet input::placeholder {
        font-size: 1.2em; }
      .contacts .form-cover .form-contact input, .contacts .form-cover .form-contact textarea {
        display: block;
        padding: 11px 35px;
        width: 100%;
        border: 0;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 1.2em;
        font-weight: bold;
        font-family: "Catamaran", sans-serif; }
        .contacts .form-cover .form-contact input:focus, .contacts .form-cover .form-contact textarea:focus {
          outline: none; }
      .contacts .form-cover .form-contact textarea {
        margin-top: 1.5em;
        min-height: 120px; }
      .contacts .form-cover .form-contact .btn-div {
        margin: 2em auto 3em; }
      .contacts .form-cover .form-contact button {
        width: 200px;
        max-width: 100%;
        padding: 10px 15px;
        text-align: center;
        letter-spacing: 1px;
        color: white;
        background: linear-gradient(-45deg, #95d444, #519f27, #95d444);
        background-size: 200% 200%;
        background-position-x: 0;
        transition: 0.5s;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        border-radius: 20px;
        margin: 0 auto;
        display: block;
        cursor: pointer;
        border: 0;
        outline: none;
        box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.3);
        -o-box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.3); }
        .contacts .form-cover .form-contact button:hover {
          background-position-x: 100%; }

@media (min-width: 767px) {
  .contacts .form-cover .form-contact .group-textarea {
    flex: 1 100% !important; } }
footer {
  background: linear-gradient(0deg, #232324, #242b34); }
  footer .footer-container {
    position: relative;
    text-align: center;
    display: block; }
  footer .footer-social {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    margin-top: 1em; }
    footer .footer-social .container-social {
      margin: 3em 0; }
  footer .logo {
    width: 175px; }
  footer .footer-link {
    display: flex;
    justify-content: center;
    margin: 1em 0 2.5em 0; }
    footer .footer-link a {
      padding: 1em;
      display: block;
      color: #eee;
      font-weight: 500;
      font-size: 1.125em; }
    footer .footer-link p {
      padding: 1em;
      display: block;
      color: #828282;
      font-weight: normal; }

@media (max-width: 650px) {
  footer .footer-social {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    margin-bottom: 1em; }
    footer .footer-social .container-social {
      margin: 0;
      padding: 1em 0; }

  .footer-link {
    flex-flow: column;
    padding: 0.5em; }

  .container-social {
    padding: 1em 0; } }
.product-desc {
  font-size: 1.8em;
  max-width: 100%;
  color: #4a4a4a !important;
  text-align: center;
  margin: 1em auto 3em;
  font-weight: 300;
  padding-bottom: 2em; }
  .product-desc span {
    color: #00B1FF; }

.buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 2em 0;
  justify-content: space-between; }

.linkedin-member {
  display: block;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 1em auto;
  background-size: 175px;
  position: absolute;
  bottom: -15px;
  right: -10px;
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2); }

@media (max-width: 767px) {
  .buttons {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; }

  .flexed-top-menu {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; }

  .section-about .about-div {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; }

  .section-team .team-container {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    align-items: center; }

  .faq-section {
    flex-flow: column; }

  .contacts .form-cover .project {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    flex: 0;
    padding: 1em; }

  .section-media .media {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; }

  .hero-content .hero-text h2 {
    font-size: 2em;
    text-align: center;
    letter-spacing: 0; }

  .hero-content .hero-text h4 {
    font-size: 1.5em;
    text-align: center; }

  ul.flexed-top-menu {
    display: block;
    padding: 0;
    margin: 0 auto;
    text-align: center; } }
.privacy {
  margin: 8em 0; }

.support {
  display: inline-block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  outline: none; }

a.support:focus .tip {
  display: block; }

.tip,
span:focus::before {
  display: none;
  -webkit-transition: display 2s;
  transition: display 2s;
  position: absolute;
  z-index: 9998;
  top: 0;
  right: 0;
  background: #ffffff;
  text-align: center;
  color: #1a98f9;
  cursor: default;
  padding: 5px;
  margin: 0.5em 0 0 10px;
  width: 200px;
  min-height: 50px;
  height: auto;
  box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.32);
  -o-box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.32); }

.tip-block {
  display: inline-block;
  position: relative;
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  height: 0;
  width: 1px; }

span.support:hover::before {
  display: block; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #00B1FF; }
  to {
    width: 0;
    background: transparent; } }
@-moz-keyframes inputHighlighter {
  from {
    background: #00B1FF; }
  to {
    width: 0;
    background: transparent; } }
@keyframes inputHighlighter {
  from {
    background: #00B1FF; }
  to {
    width: 0;
    background: transparent; } }
.form-animated {
  -webkit-transform: rotateY(90deg);
  /* Safari */
  transform: rotateY(90deg) scale(0.8, 0.8);
  /* Standard syntax */
  opacity: 0;
  transition: transform 700ms ease-in, opacity 700ms ease-in; }

.form-animated-loading {
  opacity: 0.5;
  transform: scale(0.9, 0.9);
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out; }
  .form-animated-loading label {
    top: 2px;
    transition: 500ms ease-in-out; }

.form-animated-loading-errors {
  opacity: 1;
  transform: scale(1, 1);
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out; }

.form-send-circle {
  top: 170px;
  position: absolute;
  width: 100%;
  -webkit-transform: rotateY(90deg);
  /* Safari */
  transform: rotateY(90deg);
  /* Standard syntax */
  opacity: 0; }
  .form-send-circle .circle {
    font-size: 199px;
    color: #00B1FF;
    text-align: center;
    margin: -74px 0; }

.form-send-check {
  top: 213px;
  position: absolute;
  width: 100%;
  -webkit-transform: rotateY(270deg);
  /* Safari */
  transform: rotateY(270deg);
  /* Standard syntax */
  opacity: 0; }
  .form-send-check .check {
    text-align: center;
    font-size: 45px;
    color: #00B1FF;
    margin-top: 14px;
    margin-left: 5px; }

.form-send-circle-animated {
  /* Safari */
  opacity: 1;
  -webkit-transform: rotateY(-180deg);
  /* Safari */
  transform: rotateY(-180deg);
  /* Standard syntax */
  transition: transform 2s ease-out, opacity 2s ease-out; }

.form-send-check-animated {
  opacity: 1;
  -webkit-transform: rotateY(360deg);
  /* Safari */
  transform: rotateY(360deg);
  /* Standard syntax */
  transition: transform 2s ease-out, opacity 2s ease-out; }

.form-contact-title {
  color: white;
  font-size: 22px;
  opacity: 0;
  text-align: center; }

.form-send-title {
  color: white; }

.form-send-title-animate {
  opacity: 1;
  top: 375px;
  transition: opacity 2s ease-in-out, top 1s ease-in-out; }

img.curve {
  z-index: 999;
  width: 100%;
  position: relative;
  margin-bottom: -1px; }

.btn-div {
  width: 100%; }
  .btn-div button {
    margin: 3em auto; }

.tech-name p {
  font-weight: normal; }

.hero-cover h2.section-title {
  text-shadow: 2px 2px 10px #6f6f6f; }

.tab-title span {
  display: block;
  font-size: 3em;
  margin: 25px 0; }

@media (max-width: 800px) {
  .switch-btns .tab a text {
    display: none; } }
.subscribe-input .error {
  display: none; }

.success-message {
  display: none; }

.w-chrome,
div#wistia_grid_22_wrapper,
div#wistia_grid_22_above,
#wistia_grid_21_main,
#wistia_grid_21_wrapper,
#wistia_grid_22_main {
  height: auto !important; }

#videCont {
  padding-bottom: 0 !important; }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    opacity: 1 !important; } }
div#form-send-check {
  margin: 1.5em;
  color: #00b1ff;
  color: #5aaf36; }

div#form-send {
  margin: 1em 0 2em;
  font-size: 1.2em;
  text-transform: uppercase; }

div#form-send-check {
  margin: 1.5em;
  color: #00b1ff;
  color: #5aaf36; }

strong {
  font-weight: 900;
  font-family: "Lato", sans-serif; }

.section-team .adv-first .team-member {
  flex: 0 0.2 25%; }

.main-nav {
  position: absolute;
  z-index: 999;
  width: 100%;
  top: 0; }

.main-nav.scrolled {
  position: fixed; }

.main-nav .container-fluid {
  width: 100%; }

.white-btn {
  width: 200px;
  max-width: 100%;
  padding: 10px 15px;
  text-align: center;
  font-family: "Catamaran", sans-serif;
  display: block;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  margin: 0 auto;
  cursor: pointer;
  border: 0;
  outline: none;
  box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.3);
  transition: 0.5s; }
  .white-btn a {
    text-decoration: none; }
  .white-btn:hover {
    color: white; }

.green-btn-bordered {
  max-width: 100%;
  text-align: center;
  display: block;
  width: 200px;
  margin-left: 1em;
  cursor: pointer;
  border: 1px solid #85C83D;
  box-sizing: border-box;
  outline: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  background-color: transparent;
  box-shadow: none;
  color: #F2F2F2;
  transition: 0.5s; }
  .green-btn-bordered:hover {
    background: linear-gradient(-45deg, #519f27, #95d444); }

.green-btn {
  width: 200px;
  max-width: 100%;
  text-align: center;
  display: block;
  background: linear-gradient(-45deg, #95d444, #519f27, #95d444);
  background-size: 200% 200%;
  background-position-x: 0;
  color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.3);
  transition: 0.3s; }
  .green-btn:hover {
    background-position-x: 100%; }

.blue-btn {
  width: 200px;
  max-width: 100%;
  text-align: center;
  display: block;
  background: linear-gradient(-45deg, #57c0fe, #1270e3, #57c0fe);
  background-size: 200% 200%;
  background-position-x: 0;
  color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.3);
  transition: 0.5s; }
  .blue-btn:hover {
    background-position-x: 100%; }

.form-send-check .check {
  margin-left: -45px; }

.form-send-check {
  top: 173px; }

.topnavigation {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 2em 0 0 0; }
  .topnavigation .green-btn-bordered {
    margin-left: 0;
    max-width: 120px; }
    .topnavigation .green-btn-bordered:hover {
      color: white; }

.scrolled {
  background: white;
  box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.2);
  z-index: 999; }
  .scrolled .flexed-nav {
    padding: 0.8em 0; }
    .scrolled .flexed-nav .logo {
      display: block; }
    .scrolled .flexed-nav .topnavigation {
      margin: 0; }
      .scrolled .flexed-nav .topnavigation a {
        font-weight: bold;
        color: #9d9d9d; }
        .scrolled .flexed-nav .topnavigation a:hover {
          color: #559D37; }

/* Style the links inside the navigation bar */
.topnavigation a {
  float: left;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 1em;
  font-weight: normal;
  color: #C7C7C7; }
  .topnavigation a:hover {
    color: #85C83D; }

/* Hide the link that should open and close the topnavigation on small screens */
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1200px) {
  nav ul li {
    padding: 0; } }
@media screen and (max-width: 991px) {
  .topnavigation a {
    display: none; }

  .topnav a.icon {
    display: block; }

  .flexed-nav {
    padding: 0.5em 0; }

  .flexed-hero {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    align-items: left; } }
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media (max-width: 767px) {
  .flexed-hero {
    align-items: center; }

  .hero-content .hero-text {
    text-align: center; }

  .section-about .about-div .corner-image {
    padding: 0; }

  .section-title, .contacts .form-cover h3,
  .contacts .form-cover h3 {
    text-align: center; }

  .section-team h3:first-child {
    text-align: center; }

  .section-about .about-div .text:nth-child(even) {
    padding-left: 0; }

  .buttons {
    align-items: center; }

  .section-about .about-div .text:nth-child(odd) {
    padding-right: 0; }

  .section-about .about-div .about-animation {
    margin-top: 3em; }

  .section-media .media .media-one {
    margin-bottom: 3em; }

  .topcoder {
    max-width: 180px; }

  .ptoken {
    max-width: 180px; } }
.group .error-p {
  display: none;
  position: absolute; }

.has-error .error-p {
  display: block;
  color: #ca1f1f; }

.hero-cover {
  width: 100%;
  background-image: url("../img/hero_background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding-top: 2em; }
  .hero-cover .logo {
    width: 175px; }

.progress-bar-section {
  color: #D4D2D2;
  background: linear-gradient(0deg, #1B1B36, #1B1B36, #1C1C1C);
  background-size: 200% 200%; }
  .progress-bar-section .section-title, .progress-bar-section .contacts .form-cover h3, .contacts .form-cover .progress-bar-section h3 {
    color: #D4D2D2; }
  .progress-bar-section .progress-bar-cover {
    text-align: center;
    font-size: 1.37em;
    font-weight: normal;
    margin-bottom: 4em; }
    .progress-bar-section .progress-bar-cover .current-bonus {
      display: block;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      justify-content: center;
      margin-bottom: 1.5em; }
      .progress-bar-section .progress-bar-cover .current-bonus p {
        display: inline-block;
        text-align: right;
        color: #686887;
        flex: 0 0.4 40%;
        line-height: 39px; }
        .progress-bar-section .progress-bar-cover .current-bonus p span {
          font-weight: bold;
          color: #B2B2BF; }
      .progress-bar-section .progress-bar-cover .current-bonus ul {
        list-style: none;
        margin: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row-reverse;
        justify-content: flex-end;
        align-self: center;
        flex: 0 0.5 60%;
        position: relative; }
        .progress-bar-section .progress-bar-cover .current-bonus ul li {
          padding: 6px 35px;
          background: #313142;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          -ms-border-radius: 25px;
          border-radius: 25px;
          margin-left: -1.5em;
          color: #19191C;
          font-weight: normal;
          box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.2);
          -webkit-box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.2);
          -o-box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.2); }
      .progress-bar-section .progress-bar-cover .current-bonus .current-bonus-item {
        background: #686887;
        color: #D9D9D9;
        font-weight: bold;
        z-index: 1;
        margin-left: 0;
        box-shadow: none; }
    .progress-bar-section .progress-bar-cover .progress-bar-block div {
      margin: 1.5em 0; }
    .progress-bar-section .progress-bar-cover .progress-bar-block .progress-desc {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      justify-content: space-between; }
      .progress-bar-section .progress-bar-cover .progress-bar-block .progress-desc span {
        display: inline-block;
        color: #6F6F87; }
      .progress-bar-section .progress-bar-cover .progress-bar-block .progress-desc p {
        display: inline-block; }
    .progress-bar-section .progress-bar-cover .progress-bar-block .progress-bar {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 6%; }
    .progress-bar-section .progress-bar-cover .progress-bar-block .progress-road {
      position: relative;
      height: 0;
      width: 100%;
      padding: 0;
      padding-bottom: 6%; }
      .progress-bar-section .progress-bar-cover .progress-bar-block .progress-road svg {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0; }
    .progress-bar-section .progress-bar-cover .progress-bar-block .contributed {
      color: #5E97E5; }
      .progress-bar-section .progress-bar-cover .progress-bar-block .contributed span {
        font-weight: bold;
        padding-left: 15px; }

@media (max-width: 710px) {
  .progress-bar-section .progress-bar-cover .current-bonus p {
    text-align: center;
    margin-bottom: 1.5em;
    flex: 0 0.7 80%; }
  .progress-bar-section .progress-bar-cover .current-bonus ul .current-bonus-item {
    margin-left: -1.5em; }

  .progress-bar-section .progress-bar-cover .progress-bar-block .progress-desc span {
    flex: 0;
    width: 100%; }
  .progress-bar-section .progress-bar-cover .progress-bar-block .progress-desc p {
    width: 164px;
    min-width: 100%; } }
@media (max-width: 450px) {
  .progress-bar-section .progress-bar-cover .progress-bar-block .progress-desc p {
    width: 140px;
    font-size: 0.9em; } }
.how-it-work .hw-scheme {
  text-align: center; }
.how-it-work .hw-scheme {
  text-align: center; }

.pie-chart-section .pie-chart-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between; }
  .pie-chart-section .pie-chart-container .pie-chart-box {
    text-align: center;
    flex: 0.5; }

@media (max-width: 1200px) {
  .pie-chart-section .pie-chart-container {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; } }
.success-message {
  position: absolute; }
  .success-message h5 {
    text-align: center;
    font-size: 1em;
    color: #7ed221;
    margin-top: 8px; }

@media (max-width: 1199px) {
  .buttons .white-btn {
    margin-bottom: 1em; } }
.group {
  flex: 0 0.8 80%;
  text-align: left; }

.back-2-cover {
  position: absolute;
  width: 100%;
  margin-bottom: 0px;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: -98;
  background-color: rgba(255, 255, 255, 0.62); }

.back-2 {
  position: fixed !important;
  top: 0 !important;
  height: 100% !important;
  width: auto !important;
  z-index: -100 !important;
  overflow: hidden; }

.back-3 {
  top: 0 !important;
  height: auto !important;
  width: auto !important;
  z-index: -95 !important; }

.absolute-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden; }

.section-about {
  padding-top: 4em !important; }

@media (max-width: 767px) {
  .section-about {
    background-size: cover;
    background-attachment: fixed; }

  .section-roadmap {
    background-attachment: local; }

  .section-team .team .team-member {
    flex: 0; }

  .section-team .adv-first .team-member {
    flex: 0; } }
.scaled-svg {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 100%;
  /* override this inline for aspect ratio other than square */ }

@media (min-width: 1920px) {
  .hero-content {
    padding: 7em 0 0; } }
.subscribe-section {
  background: linear-gradient(0deg, #1B1B36, #1B1B36, #1C1C1C);
  background-size: 200% 200%;
  padding: 1em 0;
  color: #D4D2D2; }
  .subscribe-section .subscribe {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 5em; }
    .subscribe-section .subscribe .subscribe-input {
      margin-top: 0;
      margin-right: 1em; }
      .subscribe-section .subscribe .subscribe-input input {
        background: transparent;
        width: 100%;
        border: none;
        padding: 0.81em 3em; }
    .subscribe-section .subscribe ul {
      margin-left: 1em; }
    .subscribe-section .subscribe .subscribe-input button {
      max-width: 100%;
      padding: 11px 63px;
      text-align: center;
      color: #F2F2F2;
      font-family: "Catamaran", sans-serif;
      margin: 0;
      background: linear-gradient 0deg, #57C0FE, #1270E3 100%; }
      .subscribe-section .subscribe .subscribe-input button:hover {
        background-color: #00B1FF; }
    .subscribe-section .subscribe .success-message {
      position: relative;
      margin: 0;
      display: block;
      width: 100%; }

.subscribe-input {
  background-color: transparent;
  color: #4D4D4D;
  width: 650px;
  max-width: 100%;
  margin-top: 1em; }
  .subscribe-input .form-subscribe {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row; }
    .subscribe-input .form-subscribe .form-group {
      flex: 0 0.65 70%; }
  .subscribe-input form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    background: #D4D4D5; }
  .subscribe-input input {
    padding: 0.7em;
    border: none;
    width: 100%; }
    .subscribe-input input:focus {
      outline: none; }
    .subscribe-input input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #4D4D4D; }
    .subscribe-input input::-moz-placeholder {
      /* Firefox 19+ */
      color: #4D4D4D; }
    .subscribe-input input:-ms-input-placeholder {
      /* IE 10+ */
      color: #4D4D4D; }
    .subscribe-input input:-moz-placeholder {
      /* Firefox 18- */
      color: #4D4D4D; }
  .subscribe-input button {
    flex: 0 0.3 30%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    background: linear-gradient 0deg, #57C0FE, #1270E3 100%;
    color: white;
    font-family: "Catamaran", sans-serif;
    border: none;
    outline: none; }
    .subscribe-input button:hover {
      background-color: #1270E3; }

@media (max-width: 670px) {
  .subscribe-input .form-subscribe .form-group {
    flex: 0 0.5 55%; } }
@media (max-width: 550px) {
  .subscribe-section .subscribe .subscribe-input input {
    padding: 0.81em 0 0.81em 3em; } }
@media (max-width: 480px) {
  .form-subscribe .form-group {
    max-width: 50%; } }
@media (max-width: 410px) {
  .form-subscribe .form-group {
    max-width: 40%; }

  .subscribe-section .subscribe .subscribe-input button {
    padding: 11px 50px; }

  .subscribe-section .subscribe .subscribe-input input {
    padding: 0.81em 0.2em 0.81em 2em; } }
@media (max-width: 1000px) {
  .hero-content {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; }

  .hero-content .hero-text {
    margin: 12em 0;
    max-width: 100%;
    justify-content: center;
    text-align: center; }

  .hero-content .hero-video {
    order: 1;
    flex: 0;
    width: 100%;
    min-width: 30%; }

  .flexed-hero {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    margin: 2em 0; } }
@media (max-width: 991px) {
  .hero-content .hero-text h4 {
    font-size: 1.3em;
    max-width: 100%;
    margin-bottom: 3em; }

  .hero-content .hero-text {
    max-width: 100%;
    height: auto;
    margin: 4em 0 4em; }

  .section-team .team .team-member {
    flex: 0 0.3 30%; }

  .section-team .adv-first .team-member {
    flex: 0 0.2 25%; }

  .section-media .media .media-one {
    flex: 0;
    margin-bottom: 1em; }

  .section-media .media-second .media-one {
    flex: 0 0.25 25%;
    margin-bottom: 1em; }

  .subscribe-input {
    max-width: 100%;
    margin-bottom: 1em; }

  .buttons a {
    margin: 1em 0; } }
.flexed-hero .white-btn {
  padding: 10px 20px;
  margin: 1em 1em 1em 0; }

@media (max-width: 991px) {
  .flexed-hero.actions-block {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; } }
@media (max-width: 767px) {
  .flexed-hero.actions-block {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    align-items: center; } }
@media screen and (max-width: 991px) {
  .fixed-nav {
    background: white; }

  .hero-cover .logo {
    display: none; }

  .main-nav .flexed-nav .logo {
    display: block; }
  .main-nav .flexed-nav ul li a {
    color: #888; }
  .main-nav .main-nav {
    background: white;
    padding: 1em 0; }
  .main-nav .hero-cover .logo {
    display: none; }
  .main-nav .topnavigation {
    top: 0; }
    .main-nav .topnavigation ul {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      align-items: center;
      position: relative;
      margin: 2em 0 0 0; }
    .main-nav .topnavigation .green-btn-bordered {
      border-bottom: 1px solid #85C83D; }
  .main-nav .topnav a {
    display: none; }
  .main-nav .topnav {
    position: relative;
    right: 0;
    display: block;
    height: 20px;
    width: 20px;
    z-index: 99;
    padding: 10px;
    background: transparent;
    transition: linear 0.5s; }
    .main-nav .topnav:before, .main-nav .topnav:after {
      background: #787779;
      backface-visibility: hidden;
      content: "";
      height: 2px;
      left: 0;
      transition: 0.8s ease;
      width: 20px; }
    .main-nav .topnav:before {
      box-shadow: #787779 0 8px 0 0;
      position: absolute;
      top: 0; }
    .main-nav .topnav:after {
      position: absolute;
      top: 16px; }
    .main-nav .topnav--active {
      transition: linear 0.3s; }
      .main-nav .topnav--active:before {
        box-shadow: transparent 0 0 0 0;
        top: 10px;
        transform: rotate(225deg); }
      .main-nav .topnav--active:after {
        top: 10px;
        transform: rotate(315deg); }
    .main-nav .topnav-toggle {
      display: block;
      margin: 0 0 55px 0;
      padding: 15px;
      opacity: 0;
      background: none;
      transition: ease-in 0.5s;
      transform: translateY(-200%);
      position: absolute;
      right: 0;
      width: 100%; }
      .main-nav .topnav-toggle--active {
        background-color: #fff;
        width: 100%;
        display: block;
        opacity: 1;
        transition: ease-in 0.5s;
        transform: translateY(0);
        box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.2);
        -o-box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.2); }
      .main-nav .topnav-toggle__menu {
        padding: 0;
        margin-bottom: 8px;
        text-align: right; }
        .main-nav .topnav-toggle__menu li {
          display: block;
          margin: 0;
          padding: 5px; }
          .main-nav .topnav-toggle__menu li a {
            text-decoration: none;
            color: #559D37;
            display: block;
            font-size: 1em;
            font-weight: normal;
            font-family: "Exo", sans-serif;
            border-bottom: 2px solid transparent;
            transition: linear 0.5s;
            padding: 5px; }
            .main-nav .topnav-toggle__menu li a:hover {
              color: #559D37;
              transition: linear 0.5s; } }
.timer {
  margin: 2em 0; }

#clockdiv {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-family: Lato, sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 2.5em; }

.lightboxcontainer {
  width: 100%;
  text-align: left;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }
  .lightboxcontainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.lightboxleft {
  width: 40%;
  float: left; }

.lightboxright {
  width: 60%;
  float: left; }

.lightboxright iframe {
  min-height: 390px; }

.divtext {
  margin: 36px; }

@media (max-width: 800px) {
  .lightboxleft {
    width: 100%; }

  .lightboxright {
    width: 100%; }

  .divtext {
    margin: 12px; } }
#clockdiv > div {
  padding: 10px;
  display: inline-block; }

#clockdiv div > span {
  padding: 15px 10px;
  border-radius: 8px;
  background: rgba(225, 225, 225, 0.3);
  display: inline-block; }

.smalltext {
  padding-top: 5px;
  font-size: 16px;
  text-transform: uppercase; }

.bottom {
  bottom: 50px; }

@media (max-width: 950px) {
  #clockdiv > div {
    padding: 5px; } }
@media (max-width: 650px) {
  #clockdiv > div {
    padding: 0 2px; } }
.html5-elem-wrap {
  display: inline-block !important; }

#html5-watermark {
  display: none !important; }

.read-more-state {
  display: none; }

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease; }

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  font-family: "Lato", sans-serif;
  max-height: 999em; }

.read-more-state ~ .read-more-trigger:before {
  content: 'Read More'; }

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Hide'; }

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 1em 0 1.5em 0;
  color: white;
  font-size: .9em;
  font-weight: bolder;
  line-height: 2; }

.login-page .main-nav {
  background: transparent; }
  .login-page .main-nav .flexed-nav {
    padding: 1em 0; }
    .login-page .main-nav .flexed-nav ul li a {
      color: #373737;
      font-weight: bold; }
      .login-page .main-nav .flexed-nav ul li a:hover {
        color: #85C83D; }
.login-page .topnavigation {
  margin: 0; }

.active-item {
  color: white; }

.login {
  background: linear-gradient(to top, rgba(7, 52, 82, 0.9), rgba(77, 93, 103, 0.9));
  background-attachment: fixed;
  background-size: cover;
  min-height: 90%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center; }

.login-page .main-nav .flexed-nav ul li a {
  color: #fff; }

.contacts {
  margin: 0 auto;
  min-height: 800px; }
  .contacts .form-cover .project {
    width: 500px;
    max-width: 100%; }
    .contacts .form-cover .project .group-textarea {
      background-color: rgba(37, 53, 64, 0.5);
      border-radius: 25px;
      padding-left: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .contacts .form-cover .project div .icon-item {
      background-image: url("../img/sprite-login.png");
      background-size: cover;
      height: 35px;
      width: 35px;
      min-width: 35px; }
    .contacts .form-cover .project .icon-full-name {
      background-position: -99px 0; }
    .contacts .form-cover .project .icon-lock {
      background-position: -35px 0; }
    .contacts .form-cover .project .icon-key {
      background-position: -65px 0; }
    .contacts .form-cover .project .icon-user {
      background-position: -100px 0; }
    .contacts .form-cover .project .icon-wallet {
      background-position: -139px 0; }
    .contacts .form-cover .project input, .contacts .form-cover .project textarea {
      padding: 11px 50px 11px 15px;
      color: white;
      text-align: center;
      background: transparent; }
    .contacts .form-cover .project input:focus {
      outline: none; }
      .contacts .form-cover .project input:focus::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: white; }
      .contacts .form-cover .project input:focus::-moz-placeholder {
        /* Firefox 19+ */
        color: white; }
      .contacts .form-cover .project input:focus:-ms-input-placeholder {
        /* IE 10+ */
        color: white; }
      .contacts .form-cover .project input:focus:-moz-placeholder {
        /* Firefox 18- */
        color: white; }

@media (max-width: 650px) {
  .contacts .form-cover .form-contact .group {
    flex: 0; }
  .contacts .form-cover .form-contact textarea {
    margin-top: 0; }

  .login {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; }

  .login-page .main-nav .flexed-nav ul li a {
    color: #888; } }
footer .login-page {
  margin: .6em 0;
  align-items: flex-end; }
  footer .login-page .logo {
    width: 100px; }
  footer .login-page .footer-link {
    margin: 0; }
    footer .login-page .footer-link p {
      padding: 0; }

@media screen and (max-width: 991px) {
  .login-page .main-nav {
    background: white; }
    .login-page .main-nav .flexed-nav ul li a:hover {
      color: #559D37; }
  .login-page .main-nav .flexed-nav ul li a {
    color: #888; }

  footer .footer-social {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
@media (max-width: 650px) {
  footer .login-page {
    align-items: center; }

  .progress-bar-section .progress-bar-cover .current-bonus ul li {
    padding: 6px 25px; } }
.utility-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between; }
  .utility-content .utility-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 0 0.2 25%;
    padding: 15px; }
    .utility-content .utility-icon img {
      width: 150px;
      min-width: 150px;
      max-width: 100%; }
  .utility-content .utility-p {
    flex: 0 0.7 75%;
    display: flex;
    align-items: center; }

.utility-div p {
  font-family: "Lato", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-align: left; }

@media screen and (max-width: 991px) {
  .utility-content {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    justify-content: center; }

  .utility-icon {
    padding: 0.5em;
    order: 1; }

  .utility-order {
    order: 2; }

  .utility-div p {
    text-align: center;
    padding: 1.5em 0; } }
.form-subscribe-title {
  opacity: 0; }

.form-subscribe-title-animate {
  opacity: 1;
  color: white; }

.form-contact-title-animate {
  opacity: 1;
  color: white; }

.video-div {
  margin: 0 auto;
  width: 80%; }

.video-container {
  padding-top: 56.25%;
  position: relative;
  width: 100%; }

iframe {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  box-sizing: border-box; }

.back-to-top {
  position: fixed;
  display: inline-block;
  bottom: -100px;
  right: 50px;
  background: rgba(36, 40, 46, 0.2);
  border-radius: 25px;
  transition: 0.5s; }
  .back-to-top.showed {
    bottom: 130px; }

@media (max-width: 667px) {
  .utility-content .utility-icon {
    flex: 0; }
  .utility-content .utility-p {
    flex: 0; }

  .hero-content .hero-text {
    flex: 0; }
  .hero-content .hero-video {
    flex: 0; }

  .pie-chart-section .pie-chart-container .pie-chart-box {
    flex: 0; }

  .section-team .team-container .team-member {
    flex: 0; }

  .faq-section .faq-img {
    flex: 0; }
  .faq-section .faq-cover {
    flex: 0; }
    .faq-section .faq-cover .faq-container .faq-items {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap; }
      .faq-section .faq-cover .faq-container .faq-items .icon {
        flex: 0; }
      .faq-section .faq-cover .faq-container .faq-items .faq-text {
        flex: 0; }

  .section-media {
    background-color: #eee; }
    .section-media .media .media-one {
      flex: 0; }
    .section-media .media-second .media-one {
      flex: 0; }

  .section-team .adv-first .team-member {
    flex: 0; }

  .progress-bar-section .progress-bar-cover .current-bonus p {
    flex: 0; }
  .progress-bar-section .progress-bar-cover .current-bonus ul {
    flex: 0; }

  footer .footer-social .container-social {
    flex: 0 !important; }

  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; }

  .progress-bar-section .progress-bar-cover .current-bonus {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
.form-cover .redirect-link {
  width: 100%;
  margin: 10px; }
  .form-cover .redirect-link p, .form-cover .redirect-link a {
    display: inline-block;
    margin: 0 5px; }
  .form-cover .redirect-link p {
    color: #828282;
    font-weight: normal; }
  .form-cover .redirect-link a {
    color: whitesmoke;
    text-decoration: underline; }

.contacts .form-cover .form-contact .group .error {
  margin-top: 0 !important; }

.login .form-cover .form-contact .group .error {
  margin-top: 35px !important; }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
  .utility-content .utility-icon {
    flex: 0; }
  .utility-content .utility-p {
    flex: 0; }

  .hero-content .hero-text {
    flex: 0; }
  .hero-content .hero-video {
    flex: 0; }

  .pie-chart-section .pie-chart-container .pie-chart-box {
    flex: 0; }

  .section-team .team-container .team-member {
    flex: 0; }

  .faq-section .faq-img {
    flex: 0; }
  .faq-section .faq-cover {
    flex: 0; }
    .faq-section .faq-cover .faq-container .faq-items {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap; }
      .faq-section .faq-cover .faq-container .faq-items .icon {
        flex: 0; }
      .faq-section .faq-cover .faq-container .faq-items .faq-text {
        flex: 0; }

  .section-media {
    background-color: #eee; }
    .section-media .media .media-one {
      flex: 0; }
    .section-media .media-second .media-one {
      flex: 0; }

  .section-team .adv-first .team-member {
    flex: 0; }

  .progress-bar-section .progress-bar-cover .current-bonus p {
    flex: 0; }
  .progress-bar-section .progress-bar-cover .current-bonus ul {
    flex: 0; }

  footer .footer-social .container-social {
    flex: 0 !important; }

  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; }

  .progress-bar-section .progress-bar-cover .current-bonus {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (width: 667px) and (height: 375px) and (orientation: landscape) and (color: 8) and (device-aspect-ratio: 375 / 667) and (aspect-ratio: 667 / 375) and (device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2) {
  .utility-content .utility-icon {
    flex: 0; }
  .utility-content .utility-p {
    flex: 0; }

  .hero-content .hero-text {
    flex: 0; }
  .hero-content .hero-video {
    flex: 0; }

  .pie-chart-section .pie-chart-container .pie-chart-box {
    flex: 0; }

  .section-team .team-container .team-member {
    flex: 0; }

  .faq-section .faq-img {
    flex: 0; }
  .faq-section .faq-cover {
    flex: 0; }
    .faq-section .faq-cover .faq-container .faq-items {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap; }
      .faq-section .faq-cover .faq-container .faq-items .icon {
        flex: 0; }
      .faq-section .faq-cover .faq-container .faq-items .faq-text {
        flex: 0; }

  .section-media {
    background-color: #eee; }
    .section-media .media .media-one {
      flex: 0; }
    .section-media .media-second .media-one {
      flex: 0; }

  .section-team .adv-first .team-member {
    flex: 0; }

  .progress-bar-section .progress-bar-cover .current-bonus p {
    flex: 0; }
  .progress-bar-section .progress-bar-cover .current-bonus ul {
    flex: 0; }

  footer .footer-social .container-social {
    flex: 0 !important; }

  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; }

  .progress-bar-section .progress-bar-cover .current-bonus {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
  .utility-content .utility-icon {
    flex: 0; }
  .utility-content .utility-p {
    flex: 0; }

  .hero-content .hero-text {
    flex: 0; }
  .hero-content .hero-video {
    flex: 0; }

  .pie-chart-section .pie-chart-container .pie-chart-box {
    flex: 0; }

  .section-team .team-container .team-member {
    flex: 0; }

  .faq-section .faq-img {
    flex: 0; }
  .faq-section .faq-cover {
    flex: 0; }
    .faq-section .faq-cover .faq-container .faq-items {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap; }
      .faq-section .faq-cover .faq-container .faq-items .icon {
        flex: 0; }
      .faq-section .faq-cover .faq-container .faq-items .faq-text {
        flex: 0; }

  .section-media {
    background-color: #eee; }
    .section-media .media .media-one {
      flex: 0; }
    .section-media .media-second .media-one {
      flex: 0; }

  .section-team .adv-first .team-member {
    flex: 0; }

  .progress-bar-section .progress-bar-cover .current-bonus p {
    flex: 0; }
  .progress-bar-section .progress-bar-cover .current-bonus ul {
    flex: 0; }

  footer .footer-social .container-social {
    flex: 0 !important; }

  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; }

  .progress-bar-section .progress-bar-cover .current-bonus {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
/*iPhone 6 landscape*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  .utility-content .utility-icon {
    flex: 0; }
  .utility-content .utility-p {
    flex: 0; }

  .hero-content .hero-text {
    flex: 0; }
  .hero-content .hero-video {
    flex: 0; }

  .pie-chart-section .pie-chart-container .pie-chart-box {
    flex: 0; }

  .section-team .team-container .team-member {
    flex: 0; }

  .faq-section .faq-img {
    flex: 0; }
  .faq-section .faq-cover {
    flex: 0; }
    .faq-section .faq-cover .faq-container .faq-items {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap; }
      .faq-section .faq-cover .faq-container .faq-items .icon {
        flex: 0; }
      .faq-section .faq-cover .faq-container .faq-items .faq-text {
        flex: 0; }

  .section-media {
    background-color: #eee; }
    .section-media .media .media-one {
      flex: 0; }
    .section-media .media-second .media-one {
      flex: 0; }

  .section-team .adv-first .team-member {
    flex: 0; }

  .progress-bar-section .progress-bar-cover .current-bonus p {
    flex: 0; }
  .progress-bar-section .progress-bar-cover .current-bonus ul {
    flex: 0; }

  footer .footer-social .container-social {
    flex: 0 !important; }

  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; }

  .progress-bar-section .progress-bar-cover .current-bonus {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
/*iPhone 6+ landscape*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
  .utility-content .utility-icon {
    flex: 0; }
  .utility-content .utility-p {
    flex: 0; }

  .hero-content .hero-text {
    flex: 0; }
  .hero-content .hero-video {
    flex: 0; }

  .pie-chart-section .pie-chart-container .pie-chart-box {
    flex: 0; }

  .section-team .team-container .team-member {
    flex: 0; }

  .faq-section .faq-img {
    flex: 0; }
  .faq-section .faq-cover {
    flex: 0; }
    .faq-section .faq-cover .faq-container .faq-items {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap; }
      .faq-section .faq-cover .faq-container .faq-items .icon {
        flex: 0; }
      .faq-section .faq-cover .faq-container .faq-items .faq-text {
        flex: 0; }

  .section-media {
    background-color: #eee; }
    .section-media .media .media-one {
      flex: 0; }
    .section-media .media-second .media-one {
      flex: 0; }

  .section-team .adv-first .team-member {
    flex: 0; }

  .progress-bar-section .progress-bar-cover .current-bonus p {
    flex: 0; }
  .progress-bar-section .progress-bar-cover .current-bonus ul {
    flex: 0; }

  footer .footer-social .container-social {
    flex: 0 !important; }

  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; }

  .progress-bar-section .progress-bar-cover .current-bonus {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
/*iPhone 6 and iPhone 6+ portrait and landscape*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
  .utility-content .utility-icon {
    flex: 0; }
  .utility-content .utility-p {
    flex: 0; }

  .hero-content .hero-text {
    flex: 0; }
  .hero-content .hero-video {
    flex: 0; }

  .pie-chart-section .pie-chart-container .pie-chart-box {
    flex: 0; }

  .section-team .team-container .team-member {
    flex: 0; }

  .faq-section .faq-img {
    flex: 0; }
  .faq-section .faq-cover {
    flex: 0; }
    .faq-section .faq-cover .faq-container .faq-items {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap; }
      .faq-section .faq-cover .faq-container .faq-items .icon {
        flex: 0; }
      .faq-section .faq-cover .faq-container .faq-items .faq-text {
        flex: 0; }

  .section-media {
    background-color: #eee; }
    .section-media .media .media-one {
      flex: 0; }
    .section-media .media-second .media-one {
      flex: 0; }

  .section-team .adv-first .team-member {
    flex: 0; }

  .progress-bar-section .progress-bar-cover .current-bonus p {
    flex: 0; }
  .progress-bar-section .progress-bar-cover .current-bonus ul {
    flex: 0; }

  footer .footer-social .container-social {
    flex: 0 !important; }

  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; }

  .progress-bar-section .progress-bar-cover .current-bonus {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
/*iPhone 6 and iPhone 6+ landscape*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation: landscape) {
  .utility-content .utility-icon {
    flex: 0 !important; }
  .utility-content .utility-p {
    flex: 0; }

  .hero-content .hero-text {
    flex: 0; }
  .hero-content .hero-video {
    flex: 0; }

  .pie-chart-section .pie-chart-container .pie-chart-box {
    flex: 0; }

  .section-team .team-container .team-member {
    flex: 0; }

  .faq-section .faq-img {
    flex: 0; }
  .faq-section .faq-cover {
    flex: 0; }
    .faq-section .faq-cover .faq-container .faq-items {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap; }
      .faq-section .faq-cover .faq-container .faq-items .icon {
        flex: 0; }
      .faq-section .faq-cover .faq-container .faq-items .faq-text {
        flex: 0; }

  .section-media {
    background-color: #eee; }
    .section-media .media .media-one {
      flex: 0; }
    .section-media .media-second .media-one {
      flex: 0; }

  .section-team .adv-first .team-member {
    flex: 0; }

  .progress-bar-section .progress-bar-cover .current-bonus p {
    flex: 0; }
  .progress-bar-section .progress-bar-cover .current-bonus ul {
    flex: 0; }

  footer .footer-social .container-social {
    flex: 0 !important; }

  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; }

  .progress-bar-section .progress-bar-cover .current-bonus {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .utility-content .utility-icon {
    flex: 0; }
  .utility-content .utility-p {
    flex: 0; }

  .hero-content .hero-text {
    flex: 0; }
  .hero-content .hero-video {
    flex: 0; }

  .pie-chart-section .pie-chart-container .pie-chart-box {
    flex: 0; }

  .section-team .team-container .team-member {
    flex: 0; }

  .faq-section .faq-img {
    flex: 0; }
  .faq-section .faq-cover {
    flex: 0; }
    .faq-section .faq-cover .faq-container .faq-items {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap; }
      .faq-section .faq-cover .faq-container .faq-items .icon {
        flex: 0; }
      .faq-section .faq-cover .faq-container .faq-items .faq-text {
        flex: 0; }

  .section-media {
    background-color: #eee; }
    .section-media .media .media-one {
      flex: 0; }
    .section-media .media-second .media-one {
      flex: 0; }

  .section-team .adv-first .team-member {
    flex: 0; }

  .progress-bar-section .progress-bar-cover .current-bonus p {
    flex: 0; }
  .progress-bar-section .progress-bar-cover .current-bonus ul {
    flex: 0; }

  footer .footer-social .container-social {
    flex: 0 !important; }

  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; }

  .progress-bar-section .progress-bar-cover .current-bonus {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .utility-content .utility-icon {
    flex: 0; }
  .utility-content .utility-p {
    flex: 0; }

  .hero-content .hero-text {
    flex: 0; }
  .hero-content .hero-video {
    flex: 0; }

  .pie-chart-section .pie-chart-container .pie-chart-box {
    flex: 0; }

  .section-team .team-container .team-member {
    flex: 0; }

  .faq-section .faq-img {
    flex: 0; }
  .faq-section .faq-cover {
    flex: 0; }
    .faq-section .faq-cover .faq-container .faq-items {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap; }
      .faq-section .faq-cover .faq-container .faq-items .icon {
        flex: 0; }
      .faq-section .faq-cover .faq-container .faq-items .faq-text {
        flex: 0; }

  .section-media {
    background-color: #eee; }
    .section-media .media .media-one {
      flex: 0; }
    .section-media .media-second .media-one {
      flex: 0; }

  .section-team .adv-first .team-member {
    flex: 0; }

  .progress-bar-section .progress-bar-cover .current-bonus p {
    flex: 0; }
  .progress-bar-section .progress-bar-cover .current-bonus ul {
    flex: 0; }

  footer .footer-social .container-social {
    flex: 0 !important; }

  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; }

  .progress-bar-section .progress-bar-cover .current-bonus {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .utility-content .utility-icon {
    flex: 0; }
  .utility-content .utility-p {
    flex: 0; }

  .hero-content .hero-text {
    flex: 0; }
  .hero-content .hero-video {
    flex: 0; }

  .pie-chart-section .pie-chart-container .pie-chart-box {
    flex: 0; }

  .section-team .team-container .team-member {
    flex: 0; }

  .faq-section .faq-img {
    flex: 0; }
  .faq-section .faq-cover {
    flex: 0; }
    .faq-section .faq-cover .faq-container .faq-items {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap; }
      .faq-section .faq-cover .faq-container .faq-items .icon {
        flex: 0; }
      .faq-section .faq-cover .faq-container .faq-items .faq-text {
        flex: 0; }

  .section-media {
    background-color: #eee; }
    .section-media .media .media-one {
      flex: 0; }
    .section-media .media-second .media-one {
      flex: 0; }

  .section-team .adv-first .team-member {
    flex: 0; }

  .progress-bar-section .progress-bar-cover .current-bonus p {
    flex: 0; }
  .progress-bar-section .progress-bar-cover .current-bonus ul {
    flex: 0; }

  footer .footer-social .container-social {
    flex: 0 !important; }

  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; }

  .progress-bar-section .progress-bar-cover .current-bonus {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .utility-content .utility-icon {
    flex: 0; }
  .utility-content .utility-p {
    flex: 0; }

  .hero-content .hero-text {
    flex: 0; }
  .hero-content .hero-video {
    flex: 0; }

  .pie-chart-section .pie-chart-container .pie-chart-box {
    flex: 0; }

  .section-team .team-container .team-member {
    flex: 0; }

  .faq-section .faq-img {
    flex: 0; }
  .faq-section .faq-cover {
    flex: 0; }
    .faq-section .faq-cover .faq-container .faq-items {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap; }
      .faq-section .faq-cover .faq-container .faq-items .icon {
        flex: 0; }
      .faq-section .faq-cover .faq-container .faq-items .faq-text {
        flex: 0; }

  .section-media {
    background-color: #eee; }
    .section-media .media .media-one {
      flex: 0; }
    .section-media .media-second .media-one {
      flex: 0; }

  .section-team .adv-first .team-member {
    flex: 0; }

  .progress-bar-section .progress-bar-cover .current-bonus p {
    flex: 0; }
  .progress-bar-section .progress-bar-cover .current-bonus ul {
    flex: 0; }

  footer .footer-social .container-social {
    flex: 0 !important; }

  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; }

  .progress-bar-section .progress-bar-cover .current-bonus {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }
/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .utility-content .utility-icon {
    flex: 0; }
  .utility-content .utility-p {
    flex: 0; }

  .hero-content .hero-text {
    flex: 0; }
  .hero-content .hero-video {
    flex: 0; }

  .pie-chart-section .pie-chart-container .pie-chart-box {
    flex: 0; }

  .section-team .team-container .team-member {
    flex: 0; }

  .faq-section .faq-img {
    flex: 0; }
  .faq-section .faq-cover {
    flex: 0; }
    .faq-section .faq-cover .faq-container .faq-items {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap; }
      .faq-section .faq-cover .faq-container .faq-items .icon {
        flex: 0; }
      .faq-section .faq-cover .faq-container .faq-items .faq-text {
        flex: 0; }

  .section-media {
    background-color: #eee; }
    .section-media .media .media-one {
      flex: 0; }
    .section-media .media-second .media-one {
      flex: 0; }

  .section-team .adv-first .team-member {
    flex: 0; }

  .progress-bar-section .progress-bar-cover .current-bonus p {
    flex: 0; }
  .progress-bar-section .progress-bar-cover .current-bonus ul {
    flex: 0; }

  footer .footer-social .container-social {
    flex: 0 !important; }

  .contacts .form-cover .form-contact {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; }

  .progress-bar-section .progress-bar-cover .current-bonus {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; } }

/*# sourceMappingURL=style.css.map */
