<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trustabit Contact: {{ name }}</title>
</head>
<body>
<p><b>E-mail: </b> {{ email }}</p>
<p><b>Name: </b> {{ name }}</p>
<p>{{ message }}</p>
</body>
</html>