<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration on Tokensale.Trustabit.io</title>
</head>
<body>
<p><b>link: </b> {{ url }}</p>
<p><b>email: </b> {{ email }}</p>
</body>
</html>